<div class="">
  <form [formGroup]="dashboardForm" novalidate>
    <div class="dash-top-bar">
      <div class="row dropdown">

      </div>
    </div>
  </form>
</div>
<cat-complex-grid [data]="data1" [dataKey]="projectId" [gridId]="projects" [paginator]="true"
                  selectionMode="single" (rowsSelected)="rowsSelected($event)"
                  [contextMenuItems]="items">
  <cat-complex-grid-column header="Project" field="name" type="string" sortable="true"></cat-complex-grid-column>
  <cat-complex-grid-column header="Revenue" field="revenue" type="number"></cat-complex-grid-column>
  <cat-complex-grid-column header="Cost" field="cost" type="number"></cat-complex-grid-column>
  <cat-complex-grid-column header="Start Date" field="startDate" type="date"></cat-complex-grid-column>
  <cat-complex-grid-column header="Edit" field="edit" type="image" url="../../assets/images/edit.png" (cellClick)="edit($event)"></cat-complex-grid-column>
</cat-complex-grid> 
