// Base Colors
$body-grey: #f6f6f6;
$purple: #42458C;
$blue: #1989CB;
$white: #fff;
$d-grey: #333;
$text-color: #575757;
$page-title: #494949;
$text-color-purple: #6772E5;
$text-bg-purple: #e8eafb;
$text-color-dark-purple: #32325D;

// color codes
$color-white: #FFF;
$color-black: #000;
$color-primary: #8471BF;
$color-secondary: #525252;
$color-tertiary: #DDD;
$color-blue: #1E1749;
$color-error: #F06C6C;
$color-success: #87D37C;
$color-warning: #FCC896;

// Form Colors
$form: #D0D0D0;
// Dashboard Colors
$card-title: #6F6F6F;
$act-head:#989898;
$not-head:#D37B78;
$sm-text: #2B2B2B;
$card-sm-title: #383838;
$link: #016FFF;
$table-list: #575757;
$separator: #e2e2e2;
$green-status: #65B904;
$orange-status: #D58707;
$red-status:#E35050;
$grey-status:#7E7E7E;
$alert: #F46464;
$icons: #CF7C7A;
$notification: #FB5A00;
$card-hover: #edf7ff;
// Login  Colors
$lo-text-color: #636363;
$link-colors: #4A4A4A;
$circle-shape: #A0A0A0;
// Shipment Process  Colors
$ship-process: #7D7D7D;
$active-process: #3566C5;
$btn-save: #0070D2;
// Tracking Colors
$alert-blue: #306DB5;
$alert-green: #8D9402;
$alert-orange: #E59F50;
$btn-down:#4C9BE0;
// Landing Colors
$q-head: #262A53;
$q-title:#796BA8;
$q-para: #9E9E9E;
// Insurance Base Colors
$ins-green: #25B287;
$ins-green-status: #0EB446;
$ins-orange-status: #EC872D;
$ins-red-status:#E01B1B;
$black: #000;
// Tracking Colors
$ins-btn-down:#2497BF;
// Table Colors
$ins-open:#4A90E2;
$ins-onhold:#E15061;
